<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        T.I.P. HYMN
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
    <ion-content [fullscreen]="true">
      <ion-header collapse="condense">
        <ion-toolbar >
          <ion-title size="large" class="text-dark">T.I.P. HYMN</ion-title>
        </ion-toolbar>
      </ion-header>
  
  
      <ion-card-header>
        <div class="container">
          <div class="row">
            <div class="col text-center mt-3">
              <img class="rounded-circle tipLogo" src="assets/TIP Logo.png" alt="TIPLogo">
            </div>
          </div>
        </div>
      </ion-card-header>
  
      <ion-card-header>
        <div class="container">
          <div class="row">
            <div class="col text-center mt-3 text-dark">
              <p class="fw-bold">T.I.P. HYMN</p>
              <p class="fw-bold">YOU’LL BE IN MY HEART FOREVER</p>
              <p>Music and Lyrics by Prudencio ”Dero” Pedero Jr.</p>
            </div>
          </div>
          <div class="row">
            <div class="col text-center mt-5 text-dark ">
              <audio controls>
                <source src="assets/TIP Song.mp3" type="audio/ogg">
              </audio>
            </div>
          </div>
          <div class="row">
            <div class="col text-center mt-5 text-dark">
              <p>You sharpen my mind with knowledge and truth</p>
              <p>You fill up my heart with gladness and joy</p>
              <p>You lift up my life to heights I’ve never known</p>
              <p>You teach me, guide me, you inspire me</p>
            </div>
          </div>
        <div class="row">
          <div class="col text-center mt-5 text-dark">
            <p>You bring out the best of what I can be</p>
            <p>You give me the strength to believe in me</p>
            <p>You’ve given me wings to fly above the rest</p>
            <p>And lead me on to victory</p>
          </div>
        </div>
        <div class="row">
          <div class="col text-center mt-5 text-dark">
            <p class="fw-bold">REFRAIN</p>
            <p>You are my strength, my hope, my guiding light</p>
            <p>You’ve added values and meaning to my life</p>
            <p>Your teachings and caring I’ll always remember</p>
            <p>My teacher and friends I’ll always treasure</p>
            <p>I’ll cherish the good times we’ve spent together</p>
            <p>T.I.P., dear T.I.P.</p>
            <p>You’ll be in my heart forever</p>
          </div>
        </div>
        <div class="row">
          <div class="col text-center mt-5 text-dark">
            <p class="fw-bold">(REPEAT REFRAIN)</p>
            <p class="fw-bold">T.I.P.!</p>
          </div>
        </div>
      </div>
      </ion-card-header>
  
      <ion-card-header>
        <div class="row">
          <div class="col text-center mb-5">
            <video width="320" height="240" controls>
              <source src="assets/TIP video.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </ion-card-header>
  
      <ion-footer>
        <ion-toolbar>
          <ion-title>T.I.P. HYMN</ion-title>
        </ion-toolbar>
      </ion-footer>
  </ion-content>
</ion-app>





